/* Geist Sans Font - Variable Font */
@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Variable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* CMU Serif Font */
@font-face {
  font-family: 'CMU Serif';
  src: url('/fonts/cmu-serif-500-roman.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CMU Serif';
  src: url('/fonts/cmu-serif-500-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'CMU Serif';
  src: url('/fonts/cmu-serif-700-roman.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CMU Serif';
  src: url('/fonts/cmu-serif-700-italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
